# custom keybindings
source ~/.config/tmux/keybindings.conf

# fix delay on pressing <esc> key
# ref: https://www.reddit.com/r/vim/comments/40257u/delay_on_esc_with_tmux_and_vim
set -s escape-time 10

# change default tmux shell to nushell
set -g default-shell {{ output "brew" "--prefix" | trim }}/bin/nu

# allow image rendering in tmux
set -g allow-passthrough on

# enable mose mode
set -g mouse on
