{{- $devcontainer := and
  (env "REMOTE_CONTAINERS" | not | not)
  (eq (env "TERM_PROGRAM") "vscode")
-}}

[edit]
  command = "code"
  args = ["--wait"]

[diff]
  exclude = ["scripts"]

[data]
  devcontainer = {{ $devcontainer }}
