{{- $devcontainer := env "REMOTE_CONTAINERS" | not | not -}}

[edit]
  command = "code"
  args = ["--wait", "--new-window"]

[diff]
  command = "code"
  args = ["--diff", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
  exclude = ["scripts", "externals"]

[data]
  devcontainer = {{ $devcontainer }}
