{{- $devcontainer := env "REMOTE_CONTAINERS" | not | not -}}

[edit]
  command = "code"
  args = ["--wait", "--new-window"]

[diff]
  exclude = ["scripts"]

[data]
  devcontainer = {{ $devcontainer }}
