{
  "mcpServers": {
    "github": {
      "serverUrl": "https://api.githubcopilot.com/mcp",
      "headers": {
        "Authorization": "Bearer {{ env "GITHUB_MCP_PAT" }}"
      },
      "disabledTools": [
        "add_comment_to_pending_review",
        "add_issue_comment",
        "add_reply_to_pull_request_comment",
        "assign_copilot_to_issue",
        "create_pull_request_with_copilot",
        "create_repository",
        "delete_file",
        "fork_repository",
        "get_copilot_job_status",
        "get_label",
        "get_latest_release",
        "get_release_by_tag",
        "get_tag",
        "get_team_members",
        "get_teams",
        "list_issue_types",
        "list_tags",
        "merge_pull_request",
        "pull_request_review_write",
        "request_copilot_review",
        "search_users",
        "sub_issue_write",
        "update_pull_request_branch"
      ],
      "disabled": true
    },
    "atlassian": {
      "command": "mise",
      "args": [
        "exec",
        "--",
        "bunx",
        "--bun",
        "mcp-remote",
        "https://mcp.atlassian.com/v1/mcp"
      ],
      "disabledTools": [
        "addCommentToJiraIssue",
        "addWorklogToJiraIssue",
        "createConfluenceFooterComment",
        "createConfluenceInlineComment",
        "createJiraIssue",
        "editJiraIssue",
        "getConfluenceSpaces",
        "getJiraProjectIssueTypesMetadata",
        "getTransitionsForJiraIssue",
        "getVisibleJiraProjects",
        "lookupJiraAccountId",
        "searchConfluenceUsingCql",
        "searchJiraIssuesUsingJql",
        "transitionJiraIssue"
      ],
      "disabled": false
    },
    "obsidian": {
      "command": "mise",
      "args": [
        "exec",
        "--",
        "bunx",
        "--bun",
        "@mauricio.wolff/mcp-obsidian@latest",
        "{{ .chezmoi.homeDir }}/Desktop/zettelkasten"
      ],
      "disabledTools": [
        "delete_note",
        "get_notes_info",
        "get_vault_stats"
      ],
      "disabled": true
    }
  }
}
