{
    "mcpServers": {
        "github": {
            "serverUrl": "https://api.githubcopilot.com/mcp/",
            "headers": {
                "Authorization": "Bearer {{ env "GITHUB_MCP_PAT" }}"
            },
            "disabledTools": [
                "add_issue_comment",
                "add_comment_to_pending_review",
                "assign_copilot_to_issue",
                "create_branch",
                "create_or_update_file",
                "create_pull_request",
                "create_repository",
                "delete_file",
                "fork_repository",
                "get_label",
                "issue_read",
                "issue_write",
                "list_issue_types",
                "list_issues",
                "merge_pull_request",
                "pull_request_review_write",
                "request_copilot_review",
                "sub_issue_write",
                "update_pull_request_branch",
                "push_files"
            ]
        }
    }
}