#!/bin/bash

# install homebrew
if [ ! "$(command -v brew)" ]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# install homebrew packages
# Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}
brew bundle install --global --no-upgrade

# install and setup neovim plugins
nvim --headless '+Lazy! restore' '+MasonInstallAll' +qa

# enable experimental features eg. pipx and others
mise settings set experimental true

# install and use the latest mise binaries
{{- range .package.mise }}
mise use --global {{ . }}
{{- end }}

# install and upgrade pipx using mise's python pip
pip install --upgrade pip
pip install --user pipx
pip install --upgrade pipx

# install global python package
{{- range .package.python }}
mise use --global pipx:{{ . }}
{{- end }}

# install global npm package
{{- range .package.npm }}
mise use --global npm:{{ . }}
{{- end }}

# install go binaries
{{- range .package.go }}
mise use --global go:{{ . }}
{{- end }}

# yazi plugins and flavors
{{- range .package.yazi }}
ya pkg add {{ . }}
{{- end }}

# launch yabai & skhd in the background
if pgrep yabai; then yabai --restart-service; else yabai --start-service; fi
if pgrep skhd; then skhd --restart-service; else skhd --start-service; fi

# to disable the SIP (System Integrity Protection), please follow the instructions from the link below.
# ref: https://github.com/koekeishiya/yabai/wiki/Disabling-System-Integrity-Protection
