[cd]
  command = "{{ .config.shell }}"

[diff]
  command = "nvim"
  args = ["-d", '{{ "{{" }} .Destination {{ "}}" }}', '{{ "{{" }} .Target {{ "}}" }}']
  exclude = ["scripts", "externals"]

[merge]
  command = "nvim"
  args = ["-d", '{{ "{{" }} .Source {{ "}}" }}', '{{ "{{" }} .Destination {{ "}}" }}', '{{ "{{" }} .Target {{ "}}" }}']

[edit]
  command = "nvim"

[[textconv]]
  command = "plutil"
  args = ["-convert", "xml1", "-o", "-", "-"]
  pattern = "**/*.plist"
