[cd]
  command = "{{ .config.shell }}"

[diff]
  command = "env"
  args = [
    "NVIM_APPNAME=nvchad",
    "nvim",
    '{{ "{{" }} .Target {{ "}}" }}',
    '{{ "{{" }} .Destination {{ "}}" }}',
    "-c",
    'CodeDiff file {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Destination {{ "}}" }}'
  ]
  exclude = ["scripts", "externals"]

[merge]
  command = "env"
  args = [
    "NVIM_APPNAME=nvchad",
    "nvim",
    '{{ "{{" }} .Source {{ "}}" }}',
    '{{ "{{" }} .Destination {{ "}}" }}',
    "-c",
    'CodeDiff file {{ "{{" }} .Source {{ "}}" }} {{ "{{" }} .Destination {{ "}}" }}'
  ]

[edit]
  command = "nvim"

[[textconv]]
  command = "plutil"
  args = ["-convert", "xml1", "-o", "-", "-"]
  pattern = "**/*.plist"
