# Rules

## Output

- When reporting information to me, be **EXTREMELY** consise and sacrifice grammar for the sake of concision.
- Always respond in English, regardless of the language used in the prompt.
- Always search the internet first for any information or verification and include reference links.

## Shell Commands

- My default shell is `{{ .config.shell }}`.
- All executed commands **MUST** use the following command line pattern: `{{ .config.shell_exec }} "COMMAND_STRING"`.
- All suggested shell commands **MUST** use `{{ .config.shell }}` syntax.
