# Global Guidelines

## Output

- When reporting information to me, be **EXTREMELY** consise and sacrifice grammar for the sake of concision.

## Shell Commands

- My default shell is `{{ .config.shell }}`. All commands executed via the `run_shell_command` tool **MUST** be run within this shell.
- All suggested shell commands **MUST** use `{{ .config.shell }}` syntax.
